{
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": ["jest"],
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/jsx-one-expression-per-line": 0
  }
}